<% title = 'Tweet Classification' %>

<div id= "main">
  <div id="mySidenav" class="sidenav">
    <button onclick="simulator(this);" type="buttons" value="Start" id="allbus" class="btn btn-success"> Start
    </button>
    <br>
    <br>
    <br>

    <p id="event_name"></p>

    <button class="accordion">Filter By Humanitarian Labels</button>
    <div class="panel">
      <div id="render_class"></div>
      <div class="range-slider" id="slider_class"></div>
    </div>

    <button class="accordion">Filter By Sentiment</button>
    <div class="panel">
      <div id="render_sentiment"></div>
      <div class="range-slider" id="slider_sentiment"></div>
    </div>

    <button class="accordion">Filter By Severity</button>
    <div class="panel">
      <div id="render_severity"></div>
      <div class="range-slider" id="slider_severity"></div>
    </div>

    <button class="accordion">Filter By Image Existence</button>
    <div class="panel">
      <div id="render_existence"></div>
    </div>
  </div>

  <a id = "filter-toggle" class="menu-toggle rounded" href="javascript:;" class="closebtn float-right" onclick="openSideBar()">
    <i class="fas fa-sliders-h" style="text-decoration: none !important;"></i>
  </a>
  <!-- This displays the map -->
  <div id="map"></div>
</div>

<script src = "/interface.js"></script>

<script>

  var query_code = '';
  var collection_code = '<%=packet.code%>';
  var class_labels = '<%=packet.class_labels%>'.split(",");
  var damage_labels = '<%=packet.damage_labels%>'.split(",");
  var sentiment_labels = '<%=packet.sentiment_labels%>'.split(",");
  var image_existence_labels = '<%=packet.image_existence_labels%>'.split(",");
  var display_sentiment = '<%= sails.config.myconf.displaysentiment %>';
  var display_severity = '<%= sails.config.myconf.displayseverity %>';
  var display_aidr = '<%= sails.config.myconf.displayaidr %>';
  data(collection_code, class_labels, damage_labels, sentiment_labels, image_existence_labels);
  localizer(display_sentiment, display_severity, display_aidr);
  render_accordion();

</script>
