<% title = 'Tweet Classification' %>


<div id="mySidenav" class="sidenav">
  <button onclick="if (this.value == 'Start') return Action(this);" type="buttons" value="Start" id="allbus" class="btn btn-success"> Start
  </button>
  <br>
  <br>
  <!-- <a href="javascript:void(0)">Filter By Labels</a>
  <a href="javascript:void(0)">Filter By Confidence</a> -->

  <button class="accordion">Filter By Humanitarian Class Labels</button>
  <div class="panel">

    <div class="overlay-content" align="left" id="aidrmaster"></div>
    <div class="slidecontainer" id="slidecontainer2">
    </div>

  </div>

  <button class="accordion">Filter By Sentiment</button>
  <div class="panel">
    <div class="overlay-content" align="left" id="sentimentmaster"></div>
    <div class="slidecontainer" id="slidecontainer3">
    </div>
  </div>

  <button class="accordion">Filter By Severity</button>
  <div class="panel">
    <div class="overlay-content" align="left" id="severitymaster">
    </div>
    <div class="slidecontainer" id="slidecontainer1">
    </div>
  </div>

  <button class="accordion">Filter By Image Existence</button>
  <div class="panel">
    <div class="overlay-content" align="left" id="imagemaster"></div>
  </div>
    <!-- <div class="overlay-content" align="left" id="severitymaster">
    </div>
    <div class="slidecontainer" id="slidecontainer1">
    </div> -->
  </div>

</div>

<div id= "main" class = "wrapper">

  <a id = "filter-toggle" class="menu-toggle rounded" href="javascript:void(0)" class="closebtn float-right" onclick="openSideBar()">
    <i class="fa fa-bars" style="text-decoration: none !important;"></i>
  </a>
  <!-- This displays the map -->
  <div id="map"></div>
</div>


  <script src = "/interface.js"></script>

  <script>
    var query_code = '';
    var collection_code = '<%=packet.code%>';
    var class_labels = '<%=packet.class_labels%>'.split(",");
    var damage_labels = '<%=packet.damage_labels%>'.split(",");
    var sentiment_labels = '<%=packet.sentiment_labels%>'.split(",");
    var image_existence_labels = '<%=packet.image_existence_labels%>'.split(",");
    var display_sentiment = '<%= sails.config.myconf.displaysentiment %>';
    var display_severity = '<%= sails.config.myconf.displayseverity %>';
    var display_aidr = '<%= sails.config.myconf.displayaidr %>';
    data(collection_code, class_labels, damage_labels, sentiment_labels, image_existence_labels);
    localizer(display_sentiment, display_severity, display_aidr);
    fillupAccordions();
    filler();
  </script>
